@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-webkit-scrollbar {
		@apply w-3;
	}

	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-full border-[3px] border-solid border-transparent bg-gray-4 bg-clip-content;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-gray-5 bg-clip-content;
	}
}

@keyframes tooltip-open-top {
	0% {
		transform: translateY(4px) scale(0.8);
		opacity: 0;
	}
	100% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

@keyframes tooltip-close-top {
	0% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateY(4px) scale(0.8);
		opacity: 0;
	}
}

@keyframes tooltip-open-bottom {
	0% {
		transform: translateY(-4px) scale(0.8);
		opacity: 0;
	}
	100% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

@keyframes tooltip-close-bottom {
	0% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateY(-4px) scale(0.8);
		opacity: 0;
	}
}
