@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--spotify-gradient-color-dark: theme(colors.spotify.DEFAULT / 0.05);
		--spotify-gradient-color-light: theme(colors.spotify.DEFAULT / 0.15);
	}
}

@layer utilities {
	.bg-spotify-gradient {
		background-image: radial-gradient(
			95% 175% at 95% 25%,
			var(--spotify-gradient-color-light) 0%,
			var(--spotify-gradient-color-dark) 100%
		);
	}
}

@keyframes tooltip-open-top {
	0% {
		transform: translateY(4px) scale(0.8);
		opacity: 0;
	}
	100% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

@keyframes tooltip-close-top {
	0% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateY(4px) scale(0.8);
		opacity: 0;
	}
}

@keyframes tooltip-open-bottom {
	0% {
		transform: translateY(-4px) scale(0.8);
		opacity: 0;
	}
	100% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

@keyframes tooltip-close-bottom {
	0% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateY(-4px) scale(0.8);
		opacity: 0;
	}
}
